* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3 {
  font-family: 'Montserrat';
}

input,
button {
  font-family: 'Montserrat';
  font-weight: 600;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #eff6ff;
  gap: 14px;
}