* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3,
input,
button {
  font-family: 'Press Start 2P', system-ui;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #eff6ff;
  gap: 14px;
}

header {
  display: flex;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  max-width: 600px;
  width: 80%;
  margin: 20px auto;
}

.main {
  max-width: 600px;
  width: 80%;
  margin: 0 auto;
  gap: 14px;
}

.input-header {
  width: 80%;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 22px 0px;
}

header button {
  border: none;
  outline: none;
  padding: 16px 40px;
  background: #ffbb33;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding-top: 7%;
  padding-bottom: 5%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px;
  padding-left: 20px;
  border-radius: 14px;
  background: white;
}

.todoItem p {
  flex: 1;
}

.actionsContainer {
  display: flex;
  align-items: center;
}

.actionsContainer button {
  font-size: 20px;
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 7px;
}

.actionsContainer button:hover {
  opacity: 0.7;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.7;
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 80px;
  color: white;
  font-size: 28px;
}

.container-menu {
  background-color: rgba(255, 255, 255);
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;

  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1.0s ease, transform 1.0s ease; 
}

.container-menu.visible {
  opacity: 1;
  transform: translateY(0);
}

#bar-icon {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2;
  transition: color 0.3s;
}

.menu {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  color: #202124;
}

.menu a {
  padding: 15px;
  text-decoration: none;
  color: #202124;
  font-size: 20px;
  font-weight: bold;
}

.menu a.active {
  background-color: rgb(32, 33, 36, 0.85);
  color: white;
}

.check {
  width: 24px;
  height: 24px;
}

.checkbutton {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

#settings-icon {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  transition: color 0.3s;
}

.settings-menu {
  background-color: rgba(255, 255, 255);
  width: 300px;
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;

  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1.0s ease, transform 1.0s ease; 
}

.settings-menu.visible {
  opacity: 1;
  transform: translateY(0);
}

.buttons-style {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.styleicon {
  width: 40px;
  margin: 20px;
}

.stylecat,
.styleusual {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.stylecat.active,
.styleusual.active {
  background-color: #d3d3d3;
}

.container-list {
  display: flex;
  margin-top: 30px;
  padding: 0px 5px;
}

.input-list {
  width: 80%;
  background: transparent;
  border-color: #202124;
  color: #202124;
  border-radius: 40px;
  padding: 20px 0px;
  padding-left: 20px;
}

.button-list {
  border: none;
  outline: none;
  padding: 10px 30px;
  background: #ffbb33;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border-radius: 40px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-item a {
  flex-grow: 1;
  text-decoration: none;
  color: #202124;
  font-size: 20px;
  font-weight: bold;
}

.menu-item .delete-list {
  font-size: 18px;
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
  padding-right: 15px;
  position: absolute;
  right: 0px;
}

.menu-item .delete-list:hover {
  opacity: 0.7;
}


@media only screen and (max-width: 900px) {
  .title {
    font-size: 24px;
  }
}